In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
from wordcloud import WordCloud

In [4]:
import squarify

In [5]:
data=pd.read_csv("data.csv")
data=data.drop("Unnamed: 0",axis=1)
data.head()

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0

In [6]:
values_year=data['Year'].unique()
values_year.sort()
values_year

array([1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,
       1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016, 2020])

In [7]:
data.isnull().sum()

Name         0
Sex          0
Age       9474
Team         0
Games        0
Year         0
Season       0
Sport        0
Medal        0
dtype: int64

In [8]:
data['Age'].fillna(data['Age'].median(),inplace=True)
data.isnull().sum()

Name      0
Sex       0
Age       0
Team      0
Games     0
Year      0
Season    0
Sport     0
Medal     0
dtype: int64

In [9]:
len(data.Team.unique())

1203

In [10]:
year=2020
data_year = data.loc[data['Year'] == year]
top_countries=data_year.Team.value_counts().sort_values(ascending=False).head(20)
indexes=list(top_countries.keys())
values=top_countries.values
graph1data=pd.DataFrame({"Countries":indexes, "Participation":values})
graph1data.head()

                    Countries  Participation
0                       Japan            262
1  People's Republic of China            256
2                         RPC            248
3    United States of America            243
4                      Brazil            241

In [11]:

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

plt.figure(figsize=(12,6))
plt.xticks(rotation=75)
plt.title('Overall Participation Countrywise in '+str(year))
sns.barplot(x=top_countries.index, y=top_countries);

In [12]:
u_team = data.Team.unique()
fig, ax = plt.subplots(1, figsize=(20, 20))
top_countries = data.Team.value_counts().sort_values(ascending=False).head(20)
squarify.plot(sizes=top_countries, label=u_team, alpha=.8)

In [13]:
count_discipline = data.Sport.value_counts()
count_discipline
sns.set_style("ticks")

wordcloud = WordCloud(
                    width=2000,
                    height=1000, 
                    scale=1,
                    normalize_plurals=False,
                    repeat=False,
                    random_state=42,
                    background_color='white')

In [15]:

wordcloud.generate_from_frequencies(frequencies = count_discipline)
plt.figure(figsize=(17,10))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.title('Number of athletes by sport', fontsize = 30)
plt.savefig("wordcloud.png")

507