In [1]:
import pandas as pd
import re
import numpy as np
import seaborn as sb 
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("data.csv")
data=data.drop("Unnamed: 0",axis=1)

In [3]:
data

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0
...,...,...,...,...,...,...,...,...,...
275638,ZURABIANI Zurab,Male,21.0,Georgia,2020 Summer,2020,Summer,Judo,0
275639,ZURBRUGG Lindsey,Female,22.0,United States of America,2020 Summer,2020,Summer,Wheelchair Basketball,1
275640,ZVINOWANDA Vimbai,Female,29.0,Zimbabwe,2020 Summer,2020,Summer,Athletics,0
275641,ZWOUKHI Fathi,Male,34.0,Tunisia,2020 Summer,2020,Summer,Triathlon,0
275642,ZYLKA Krzysztof,Male,41.0,Poland,2020 Summer,2020,Summer,Table Tennis,0