In [19]:
import pandas as pd
import re
import numpy as np
import seaborn as sb 
import matplotlib.pyplot as plt
import matplotlib
import geopandas
from wordcloud import WordCloud
import os

ModuleNotFoundError: No module named 'geopandas'

In [12]:
data=pd.read_csv("data.csv")
data=data.drop("Unnamed: 0",axis=1)

In [13]:
data.head()

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0

In [14]:
temp=data.groupby(["Year","Team"])

In [16]:
temp.head()

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0
...,...,...,...,...,...,...,...,...,...
275278,VELASQUEZ Carlos,Male,25.0,Honduras,2020 Summer,2020,Summer,Athletics,0
275424,WISDOM LUNGRIN Jhan Carlos,Male,22.0,Panama,2020 Summer,2020,Summer,Athletics,0
275502,YE Kah Michel,Male,37.0,Côte d'Ivoire,2020 Summer,2020,Summer,Athletics,0
275538,ZAHREDDINE Arz,Male,22.0,Lebanon,2020 Summer,2020,Summer,Athletics,0
275640,ZVINOWANDA Vimbai,Female,29.0,Zimbabwe,2020 Summer,2020,Summer,Athletics,0

In [ ]:
# Change some contries names
data['Team'] = data['Team'].replace('ROC', 'Russia')
data['Team'] = data['Team'].replace("People's Republic of China", 'China')
data['Team'] = data['Team'].replace('Islamic Republic of Iran', 'Iran')
data['Team'] = data['Team'].replace('United Republic of Tanzania', 'Tanzania')
data['Team'] = data['Team'].replace('Democratic Republic of the Congo', 'Democratic republic of the congo')

# Number of athletes by country
athletes_country = data.groupby('Team').count().reset_index()
athletes_country.columns = ['Team', 'count']                    # Set the correct variables'names
athletes_country = athletes_country.sort_values('count', ascending = False)
athletes_top_country = athletes_country.head(30)

# geopandas
world = geopandas.read_file(geopandas.datasets.get_path("naturalearth_lowres"))
athletes_country_final = world.merge(athletes_country, how = 'left', left_on=['name'], right_on=['country'])

sns.set_style("ticks")
athletes_country_final.plot("count",
                           figsize=(22,12),
                           legend=True,
                           edgecolor="black",
                           legend_kwds={"label":"Athletes by Country"},
                           cmap='OrRd',
                           missing_kwds={"color":"white"}
                          )
plt.title("Number of Athletes by Country", fontsize = 30);