In [2]:
import pandas as pd
import re
import numpy as np
import seaborn as sb 
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("data.csv")
data=data.drop("Unnamed: 0",axis=1)

In [16]:
data.head()

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0

In [12]:
temp=data.groupby(["Year","Team"])

In [13]:
from dash import Dash, html, dcc, Input, Output
import pandas as pd
import plotly.express as px

avocado = pd.read_csv('data.csv')

app = Dash()

In [15]:
geo_dropdown = dcc.Dropdown(options=avocado['Year'].unique(),
                            value='New York')

app.layout = html.Div(children=[
    html.H1(children='Avocado Prices Dashboard'),
    geo_dropdown,
    dcc.Graph(id='price-graph')
])